html, body {
  height: 100%;
}

body {
  background-color: $bodyBg;
}

h2,p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

input[type="text"] {
  @extend h2;
}

#admin {
  background-color: $viewportBg;
}

.viewport {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 400px;
  background-color: $viewportBg;
  padding: 10px 20px 0 20px;
  min-height: 100%;
}

.svg {
  max-width: 100%;
}

.navigation-links {
  a {
    padding-right: 10px;
  }
}

.p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.centered {
  margin: 0 auto;
  display: block;
  width: 200px;
}

