//==================
//##### COLORS #####
//==================
$bodyBg: #d9d8e0;
$viewportBg: #ececec;

$rankedGreen: #5ed74e;
$borderColor: #c5c5c5;
$borderColorLight: #dfdfdf;
$boxBg: #FFF;

$textColor: #252525;
$textGrey: #6d6d6d;

//==================
//##### RADIUS #####
//==================

$borderRadius: 15px;