body {
  background-color: #efefef;
}

h2,p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

input[type="text"] {
  @extend h2;
}

.viewport {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 500px;
  background-color: #fcfcfc;
  padding: 0 20px;
  min-height: 100%;
}

.svg {
  max-width: 100%;
}