<script src="/common.js"></script>

<div class="viewport">
  <div id="container--frontpage">
    <div id="container--frontpage-heading">
      Personlig anbefaling og søgning
    </div>

    <div id="container--frontpage-body">
      Skab din egen profil ved at vælge bøger, du godt kan lide. Så kan vi anbefale bøger til dig og lave en personlig søgning.
    </div>

    <a href="/rank"><img src="images/arrow.svg"></a>
    <a href="/admin/" class="right">admin</a>
  </div>
</div>
