<!--<script src="/common.js"></script>-->

<div class="viewport frontpage">
  <div class="frontpage--container">
    <div class="frontpage--heading">
      <h2>Personlig anbefaling og søgning</h2>
    </div>

    <div class="frontpage--body">
      <p>Skab din egen profil ved at vælge bøger, du godt kan lide. Så kan vi anbefale bøger til dig og lave en personlig søgning.</p>
    </div>

    <span class="frontpage--arrow"><a href="/rank"><img src="images/arrow-white.svg" class="white fornt"></a></span>

  </div>
</div>
