.frontpage {
  background: url('/images/personlig-rankering-bg.png') no-repeat fixed center;
  background-size: auto 100%;
}

.frontpage--container {
  color: #FFFFFF;
  padding-top: 10%;
}

.frontpage--heading {
  margin: 0 auto;
  width: 50%;
  max-width: 200px;
  h2 {
    color: #FFFFFF;
    line-height: 1.1;
  }
}

.frontpage--body {
  margin: 0 auto;
  width: 75%;
  max-width: 280px;
  p{
    line-height: 1.2rem;
  }
}

.frontpage--arrow {
  margin: auto;
  width: 20%;
  display: block;
}