.rank--question-card {
  border: 1px solid $borderColor;
  border-radius: 2px;
  background-color: #FFF;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.rank--question-card-img{
  display: block;
  img {
    padding: 10px;
    max-height: 300px;
  }
}

.rank--buttons {
  margin-top: 20px;
}

.rank--buttons-button {
  display: inline-block;
  max-width: 80px;
}