.rank-page {
  height: inherit;
}

.rank--question-card-wrapper {
  min-height: 260px;
}

.rank--question-card {
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  background-color: #FFF;
  width: 80%;
  max-width: 224px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.rank--question-card-img{
  padding: 10px 0;
  margin: 0 auto;
  position: relative;
  display: block;
  max-height: 75%;
  height: 200px;
  img {
    height: 100%;
  }
}

.rank--question-card-title {
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: bold;
  padding: 0 10px;
  min-height: 30px;
  max-height: 58px;
  overflow: hidden;
}

.rank--question-card-creator {
  font-size: 1rem;
  font-weight: 200;
  padding: 0 10px;
  max-height: 25px;
  overflow: hidden;
}

.rank--buttons-button {
  display: inline-block;
  max-width: 80px;
  margin-top: 0px;
}

.rank--page-infotxt {
  margin: 10px auto auto;
}