.rank--question-card {
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  background-color: #FFF;
  width: 80%;
  margin: 0 auto;
  display: block;
  height: 400px;
}

.rank--question-card-img{
  display: block;
  img {
    padding: 10px;
    max-height: 300px;
  }
}

.rank--question-card-title {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: bold;
  padding: 0 10px;
  min-height: 30px;
  max-height: 58px;
  overflow: hidden;
}

.rank--question-card-crator {
  font-size: 1rem;
  font-weight: 200;
  padding: 0 10px;
  max-height: 25px;
  overflow: hidden;
}

.rank--buttons-button {
  display: inline-block;
  max-width: 80px;
  margin-top: 10px;
}

.rank--page-infotxt {
  margin: 10px auto auto;
}