$inactive: #505050;
$rankedGreen: #009f00;
$borderColor: #c5c5c5;

.search--button {
  max-width: 40px;
  margin-right: 10px;
  display: inline-block;
}

.search--result {
  p {
    color: $inactive;
  }
}

.search--rankpicker {
  a {
    color: $inactive;
    padding: 0 50px;
    &.active {
      color: $rankedGreen;
    }
  }
}

.active {
  color: $rankedGreen;
}

.search--result-item {
  display: block;
  min-height: 60px;
  margin-top: 10px;
}

.search--result-item-weights {
  top: 10px;
  font-size: .8em;
  text-align: right;
}

.search--result-item-matinfo {
  text-align: left;
  margin-right: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  padding: 5px;
}

.search--result-item-matinfo-title {
  font-weight: bold;
}