.search--button {
  img{
    max-height: 40px;
  }
}

.search--result {
  p {
    color: $textGrey;
  }
}

.search--rankpicker {
  a {
    color: $textGrey;
    padding: 0 20px;
    &.active {
      color: $rankedGreen;
    }
  }
}

.active {
  color: $rankedGreen;
}

.search--result-item {
  padding: 10px;
  background-color: $boxBg;
  border: 1px solid $borderColorLight;
  //border-radius: 2px;
  border-radius: $borderRadius;
  display: block;
  min-height: 60px;
  margin-top: 10px;
}

.search--result-item-weights {
  top: 10px;
  font-size: .8em;
  text-align: right;
  font-weight: 200;
}

.search--result-item-matinfo {
  text-align: left;
  margin-right: 10px;
  //border-radius: 3px;
  border-radius: $borderRadius;
  padding: 5px;
}

.search--result-item-matinfo-title {
  font-weight: normal;
}

.search--result-item-matinfo-creator{
  font-weight: 200;
}